<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>
<p>Hello World from Hello!</p>

<%= 1+1 %>
<% target = "world" %>
<%= "Hello #{target} from ruby" %>

<%= link_to("index page", {:action => 'index', :id => '1', :page => '5'}) %>