<h1>Demo#index</h1>

<p>Find me in app/views/demo/index.html.erb</p>
<p>Hello World from the Index!</p>
ID: <%= @id %>
Next Page: <%= @page.to_i + 1 %>
<%= link_to("hello page", {:action => 'hello'}) %>
